In [1]:
import pandas as pd
import os


DATA_PATH = "D:/Users/Syrine.benaziza/Documents/Project/Data"


def load_data(data_path=DATA_PATH):
    csv_path = os.path.join(data_path, "consolesaasevents.csv")
    return pd.read_csv(csv_path)

In [2]:
my_data = load_data()
my_data.head()

,_id,timestamp,event_type,user_id,user_type,clients_codes.0,clients_codes.1,clients_codes.2,clients_codes.3,clients_codes.4,...,profiles.1.application_code,profiles.2.role_code,profiles.2.application_code,profiles.3.role_code,profiles.3.application_code,profiles.4.role_code,profiles.4.application_code,profiles.5.role_code,profiles.5.application_code,_class
0,5e7b882dd21b7c58687083a4,2019-05-17T07:05:34.725Z,USER_CREATED,423146,STANDARD,1360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...
1,5e7b882dd21b7c58687083a5,2019-05-17T07:05:42.191Z,PROFILE_CREATED,423146,STANDARD,1360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...
2,5e7b882dd21b7c58687083a6,2019-05-17T07:06:29.054Z,USER_CREATED,423148,STANDARD,1360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...
3,5e7b882dd21b7c58687083a7,2019-05-17T07:06:36.717Z,PROFILE_CREATED,423148,STANDARD,1360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...
4,5e7b882dd21b7c58687083a8,2019-05-17T07:06:47.609Z,USER_UPDATED,423146,STANDARD,1360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...

Each row represents one district. There are 23 attributes (you can see the first 4 ) .

In [3]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112459 entries, 0 to 112458
Data columns (total 23 columns):
_id                            112459 non-null object
timestamp                      112459 non-null object
event_type                     112459 non-null object
user_id                        112459 non-null int64
user_type                      112459 non-null object
clients_codes.0                112459 non-null object
clients_codes.1                16069 non-null object
clients_codes.2                10569 non-null object
clients_codes.3                8782 non-null object
clients_codes.4                8277 non-null object
profiles.0.role_code           104551 non-null object
profiles.0.application_code    104551 non-null object
profiles.1.role_code           5279 non-null object
profiles.1.application_code    5279 non-null object
profiles.2.role_code           2791 non-null object
profiles.2.application_code    2791 non-null object
profiles.3.role_code           1913 non-null object
profiles.3.application_code    1913 non-null object
profiles.4.role_code           1057 non-null object
profiles.4.application_code    1057 non-null object
profiles.5.role_code           731 non-null object
profiles.5.application_code    731 non-null object
_class                         112459 non-null object
dtypes: int64(1), object(22)
memory usage: 19.7+ MB

There are 112,459 instances in the dataset. Notice that some attributes have less nonnull values than 
the total number of instances:
clients_codes.1                16069 non-null object missing 96390
clients_codes.2                10569 non-null object missing 102390
clients_codes.3                8782 non-null object  missing 103767
clients_codes.4                8277 non-null object  missing 104272
profiles.0.role_code           104551 non-null object missing 7908
profiles.0.application_code    104551 non-null object missing 7908
profiles.1.role_code           5279 non-null object missing 107180
profiles.1.application_code    5279 non-null object missing 107180
profiles.2.role_code           2791 non-null object missing 109668
profiles.2.application_code    2791 non-null object
profiles.3.role_code           1913 non-null object missing 110546
profiles.3.application_code    1913 non-null object
profiles.4.role_code           1057 non-null object missing 111402
profiles.4.application_code    1057 non-null object
profiles.5.role_code           731 non-null object missing 111728
profiles.5.application_code    731 non-null object
_class                         112459 non-null object 
, meaning that some values are missing from these features,We will need to take care of this later.
All attributes are objects, so it
could hold any kind of Python object. But since the data  isfrom a CSV file,
it must be a text attribute.
looking at the top five rows,the values in the user_id ,event_type ,user_type and _class column were repetitive,
which means that it is probably a categorical attribute. 
we can find out what categories
exist and how many districts belong to each category by using the
value_counts() method:

In [4]:
my_data["event_type"].value_counts()

PROFILE_UPDATED    66190
PROFILE_CREATED    19084
USER_UPDATED       16367
USER_CREATED        7102
PROFILE_DELETED     2745
USER_DELETED         971
Name: event_type, dtype: int64

In [5]:
my_data["user_id"].value_counts()

196338    3150
447586    2188
269770    2022
446773    1230
444423    1214
          ...
404672       1
200573       1
190203       1
200827       1
193289       1
Name: user_id, Length: 14708, dtype: int64

In [6]:
my_data["user_type"].value_counts()

STANDARD     111297
TECHNICAL      1162
Name: user_type, dtype: int64

In [7]:
my_data["timestamp"].value_counts()

2019-08-19T18:34:23.053Z    2
2019-08-20T05:58:09.234Z    2
2019-05-22T05:35:36.156Z    2
2020-03-03T21:53:47.788Z    1
2019-05-20T20:05:52.112Z    1
                           ..
2020-03-12T08:43:32.929Z    1
2020-02-12T12:50:39.393Z    1
2020-02-11T21:48:52.679Z    1
2020-02-07T06:30:47.959Z    1
2019-11-28T22:03:03.223Z    1
Name: timestamp, Length: 112456, dtype: int64

In [8]:
my_data[my_data['timestamp'].str.contains('019-08-20T05:58:09.234Z')]

,_id,timestamp,event_type,user_id,user_type,clients_codes.0,clients_codes.1,clients_codes.2,clients_codes.3,clients_codes.4,...,profiles.1.application_code,profiles.2.role_code,profiles.2.application_code,profiles.3.role_code,profiles.3.application_code,profiles.4.role_code,profiles.4.application_code,profiles.5.role_code,profiles.5.application_code,_class
18582,5e7b8851d21b7c586870cc3a,2019-08-20T05:58:09.234Z,USER_UPDATED,436850,STANDARD,344693,NaN,NaN,NaN,NaN,...,LEGIBASE_MP,ROLE_USER,LEGIREDAC,ROLE_USER,LEGIPROC,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...
18583,5e7b8851d21b7c586870cc3b,2019-08-20T05:58:09.234Z,USER_UPDATED,436850,STANDARD,344693,NaN,NaN,NaN,NaN,...,LEGIBASE_MP,ROLE_USER,LEGIREDAC,ROLE_USER,LEGIPROC,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...

In [9]:
my_data[my_data['timestamp'].str.contains('2019-08-19T18:34:23.053Z')]

,_id,timestamp,event_type,user_id,user_type,clients_codes.0,clients_codes.1,clients_codes.2,clients_codes.3,clients_codes.4,...,profiles.1.application_code,profiles.2.role_code,profiles.2.application_code,profiles.3.role_code,profiles.3.application_code,profiles.4.role_code,profiles.4.application_code,profiles.5.role_code,profiles.5.application_code,_class
18547,5e7b8851d21b7c586870cc17,2019-08-19T18:34:23.053Z,USER_UPDATED,416684,STANDARD,191658,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...
18548,5e7b8851d21b7c586870cc18,2019-08-19T18:34:23.053Z,USER_UPDATED,416684,STANDARD,191658,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...

In [10]:
my_data[my_data['timestamp'].str.contains('2019-05-22T05:35:36.156Z')]

,_id,timestamp,event_type,user_id,user_type,clients_codes.0,clients_codes.1,clients_codes.2,clients_codes.3,clients_codes.4,...,profiles.1.application_code,profiles.2.role_code,profiles.2.application_code,profiles.3.role_code,profiles.3.application_code,profiles.4.role_code,profiles.4.application_code,profiles.5.role_code,profiles.5.application_code,_class
696,5e7b8830d21b7c586870865c,2019-05-22T05:35:36.156Z,USER_UPDATED,423631,STANDARD,322124,NaN,NaN,NaN,NaN,...,BL_SOINS,ROLE_USER,CONSOLE_SAAS,NaN,NaN,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...
697,5e7b8830d21b7c586870865d,2019-05-22T05:35:36.156Z,USER_UPDATED,423631,STANDARD,322124,NaN,NaN,NaN,NaN,...,BL_SOINS,ROLE_USER,CONSOLE_SAAS,NaN,NaN,NaN,NaN,NaN,NaN,com.bl.consolesaas.interop.traces.domain.Messa...

In [11]:
my_data["_class"].value_counts()

com.bl.consolesaas.interop.traces.domain.MessagingEvent    112459
Name: _class, dtype: int64

In [22]:
df = my_data["clients_codes.0"]
df

0           1360
1           1360
2           1360
3           1360
4           1360
           ...
112454    247226
112455    266385
112456     20810
112457     20810
112458    266385
Name: clients_codes.0, Length: 112459, dtype: object

In [12]:
my_data["clients_codes.0"].value_counts()

56776    2638
36476    2188
41763    2014
44902    1862
42539    1847
         ...
19269       1
20493       1
21298       1
12303       1
22782       1
Name: clients_codes.0, Length: 4339, dtype: int64

In [34]:
my_data["profiles.5.application_code"].value_counts()

LEGB_TI_SERV_CIV             162
LEGB_VOIE_EXEC                61
BL_ACCESS_TOKEN               57
LEGB_TRIB_POLICE              47
LEGIBASE2_ELEC                36
LEGB_AIDE_JURID               36
LEGB_FRAIS_DEPEN              32
PFA                           31
CONSOLE_SAAS                  26
LEGB_TUTELLE                  24
LEGB_TI_SERV_GEN              20
LEGB_TRIB_ENF                 19
LEGIBASE_ETAT_CIVIL           15
LEGB_COUR_ASSISE              15
LEGIMARCHES                   14
LEGIBASE_URBA                 13
LEGB_FIN_COMPTA               13
BL_RESIDENT                   12
BL_SOINS                      11
LEGIBASE_RH_TERR               9
LEGB_AUD_CORREC                8
BL_REFERENTIEL                 7
BL_PLANNING                    7
LEGB_APPL_PEINE                6
BL_SENIOR_BLRESIDENT_DEMO      6
LEGIBASE_MP                    5
BL_SENIOR_BLSOINS_DEMO         5
PFA_PREPROD                    5
LEGIBASE_SANTE                 5
LEGB_INSTRUCTION               4
FORM_GENERATOR                 4
LEGIREDAC                      4
LEGB_TGI_SERV_CIV              4
LEGB_PROC_PRUD                 3
ABOREVNUM                      2
LEGIPROC                       2
BL_SENIOR_BLPLANNING_DEMO      1
Name: profiles.5.application_code, dtype: int64

In [14]:
my_data.describe()

             user_id
count  112459.000000
mean   372939.061142
std    107152.509180
min         3.000000
25%    268358.000000
50%    438211.000000
75%    451973.000000
max    458731.000000

we dont have any numerical values other than the user_id so we need to convert the fields
but before any further processing ,we need to create a test set and put it aside
so we can avoid data snooping bias.

In [15]:
from sklearn.model_selection import train_test_split 

train_set, test_set = train_test_split(my_data, test_size=0.2, random_state=42)

# Handling Text and Categorical Attributes

In [16]:
event_type = my_data[["event_type"]]
my_data["event_type"].value_counts()

PROFILE_UPDATED    66190
PROFILE_CREATED    19084
USER_UPDATED       16367
USER_CREATED        7102
PROFILE_DELETED     2745
USER_DELETED         971
Name: event_type, dtype: int64

It’s not arbitrary text: there are a limited number of possible values, each of which
represents a category. So this attribute is a categorical attribute.
Most Machine Learning algorithms prefer to work with numbers, so let’s convert these categories
from text to numbers. 
For this, we can use Scikit-Learn’s OneHotEncoder class:

In [17]:
from sklearn.preprocessing import OneHotEncoder

cat_encoder = OneHotEncoder()
event_type_1hot = cat_encoder.fit_transform(event_type)
event_type_1hot

<112459x6 sparse matrix of type '<class 'numpy.float64'>'
	with 112459 stored elements in Compressed Sparse Row format>

the output is a SciPy sparse matrix, instead of a NumPy array. This is very
useful when you have categorical attributes with thousands of categories. After onehot
encoding, we get a matrix with thousands of columns, and the matrix is full of 0s
except for a single 1 per row. Using up tons of memory mostly to store zeros would
be very wasteful, so instead a sparse matrix only stores the location of the nonzero
elements.

In [18]:
event_type_1hot.toarray()#convert the sparse matrix to a numpy array

array([[0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       ...,
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.]])

In [19]:
cat_encoder.categories_

[array(['PROFILE_CREATED', 'PROFILE_DELETED', 'PROFILE_UPDATED',
        'USER_CREATED', 'USER_DELETED', 'USER_UPDATED'], dtype=object)]

from sklearn.compose import ColumnTransformer

#num_attribs = list(housing_num)
cat_attribs = ["event_type", "user_id", "user_type" , "_class"]
full_pipeline = ColumnTransformer([
#("num", num_pipeline, num_attribs),
("cat", OneHotEncoder(), cat_attribs),
])
data_prepared = full_pipeline.fit_transform(my_data)

data_prepared.toarray()

In [20]:
my_data["timestamp"][1]

'2019-05-17T07:05:42.191Z'

In [21]:
import datetime
datetime.datetime.strptime(my_data["timestamp"][1], "%Y-%m-%dT%H:%M:%S.%f%z")

datetime.datetime(2019, 5, 17, 7, 5, 42, 191000, tzinfo=datetime.timezone.utc)

In [24]:
df1 = pd.DataFrame(my_data)



df1['COLUMN'] =  pd.to_datetime(my_data["timestamp"].str.strip(), format="%Y-%m-%dT%H:%M:%S.%f%z")

In [32]:
df1['COLUMN'].dt.date

0         2019-05-17
1         2019-05-17
2         2019-05-17
3         2019-05-17
4         2019-05-17
             ...
112454    2020-03-25
112455    2020-03-25
112456    2020-03-25
112457    2020-03-25
112458    2020-03-25
Name: COLUMN, Length: 112459, dtype: object

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112459 entries, 0 to 112458
Data columns (total 24 columns):
_id                            112459 non-null object
timestamp                      112459 non-null object
event_type                     112459 non-null object
user_id                        112459 non-null int64
user_type                      112459 non-null object
clients_codes.0                112459 non-null object
clients_codes.1                16069 non-null object
clients_codes.2                10569 non-null object
clients_codes.3                8782 non-null object
clients_codes.4                8277 non-null object
profiles.0.role_code           104551 non-null object
profiles.0.application_code    104551 non-null object
profiles.1.role_code           5279 non-null object
profiles.1.application_code    5279 non-null object
profiles.2.role_code           2791 non-null object
profiles.2.application_code    2791 non-null object
profiles.3.role_code           1913 non-null object
profiles.3.application_code    1913 non-null object
profiles.4.role_code           1057 non-null object
profiles.4.application_code    1057 non-null object
profiles.5.role_code           731 non-null object
profiles.5.application_code    731 non-null object
_class                         112459 non-null object
COLUMN                         112459 non-null datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(1), object(22)
memory usage: 20.6+ MB